# config folder with env files ONLY for demo purposes
# config/
# .env

.idea/
.vscode/
.DS_Store

node_modules/
build/
dist/
tmp/
temp/

package-lock.json

database/*
!database/.gitkeep

log/*
!log/.gitkeep
*.log

